<div id="select-all-container">
	<style>
		#select-all-container {
			display: inline;
		}
		a {
			cursor: pointer;
		}
		.select-status {
			display: inline;
			margin-left: 10px;
			background: #0f94f647;
			padding: 5px;
			border-radius: 3px;
		}
	</style>
	<button class="btn btn-primary btn-sm" ng-click="toggleSelectPage()">
		<span ng-if="pageSelected && selectedCount() > 0">
			<i class="fa fa-fw fa-check-square" ></i> Deselect All
		</span>
		<span ng-if="!pageSelected || selectedCount() === 0">
			<i class="fa fa-fw fa-square"></i> Select All
		</span>

	</button>
	<div ng-if="selectedCount() > 0" class="select-status">
		<span ng-if="!allSelected">
			{{selectedCount()}} Items Selected.
			<a class="cursor-pointer" ng-if="hasPagedResults()" ng-click="toggleCrossPageSelect()">Select all {{searchResults.length}} items.</a>
		</span>
		<span ng-if="allSelected">
			{{selectedCount()}} Items Selected.
			<a ng-click="toggleCrossPageSelect()" ng-if="hasPagedResults()">Clear Selection</a>
		</span>
	</div>
</div>